* {
  font-family: sans-serif;
  background-color: #F5F5F5;
}
h2 {
  font-size: 25px;
}
li {
  list-style: none;

}
ul {

  font-size: 20px;
  list-style-type:square;
  text-align: center;
}
button {
  border-radius: 8px;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 10px;
}
/*button :hover{
}*/
#scoop *{
  background-color: #FFCC80;

}
#slushie * {
  background-color: #90CAF9;
}
#milkshake * {
  background-color: #F48FB1;
}
#iceCreamTitle *  {
  font-family:sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align:center;
  color: #37474F;
}

#left {
  width: 50%;
  float:left;
}

#right {
  float:right;
  vertical-align: middle;

}
#scoopList {
  text-align: center;

}
#container {
  text-align: center;
}
.clear {
  clear:both;
}
.pricing {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color:#FAFAFA;
}
