* {
  font-family: sans-serif;
  background-color: #F5F5F5;
}
a {
  text-decoration: none
}
h2 {
  color: #37474F;
  font-size: 25px;
}
li {
  font-family: monospace;
  list-style: none;
  text-align: center;
  font-size: 16px;
}
ul {

  font-size: 20px;
  text-align: center;
}
button {
  border-radius: 8px;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 10px;
}
/*.container {
  background-color: #C8E6C9;
}*/
#small {
  font-family: monospace;

  color: #B0BEC5;
  font-size: 8px;
  text-align: center;
  padding: 10px;
}
#title * {
  text-align: center;
  font-family:sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #37474F;
}
#scoop *{
  background-color: #FFCC80;

}
#slushie * {
  background-color: #90CAF9;
}
#milkshake * {
  background-color: #F48FB1;
}
#left {
  width: 50%;
  float:left;
}

#right {
  float:right;
  vertical-align: middle;

}
#scoopList {
  text-align: center;

}

.clear {
  clear:both;
}
.pricing {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color:#FAFAFA;
}
